* {
    box-sizing: border-box;
    font-family:  sans-serif  ;
}

body {
    background-color: navajowhite;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#pokedex {
    width: 22rem;
    height: 35rem;
    background: rgb(245, 189, 31);
    border: 1px  solid black;
    border-radius: 8px;
    padding: 1.25rem;
}

#card {
    height: 100%;
    padding: 1.25rem;
    /*border: 1px  solid black;*/
    /*border-radius: 8px;*/
    /*background-image: url("../assets/058.png");*/
    background-repeat: no-repeat;
    background-position: center;
    background-color: #EE8130;

}

#top-bar {
    display: flex;
    justify-content: space-between;
    color: black;
    /*border: 1px  solid black;         this border helps me see the diff*/
    /*padding: 0 1.5rem;                Dont need adds padding to left and right*/

}

#search {
    color: black;
    background: none;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    width: 60%;
    text-transform: capitalize;
}

#hp {
    color: red;
    font-weight: bold;
}

#search:focus {
    outline: none;
}

#pokeimg-placeholder {
    display: flex;
    justify-content: center;
    border: 5px  solid rgb(245, 189, 31);
    margin-bottom: .25rem;
}

#poke-img {
    width: 150px;
    height: 150px;
}

#data {
    /*background-color: crimson;*/
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    font-weight: bold;
    /*height: 57%;*/
    /*border-radius: 8px;*/
    border-bottom: solid 1px black;
    padding: 1rem;
    text-transform: capitalize;

}

#desc span {
    /*maybe use move1, move2 ,move 3 to try and get each to have a full like underneath...why it no work?!*/
    border-bottom: solid 1px black;
}

#type {
    border: 1px  solid black;
    border-radius: 20px;
}

#about {
    margin: auto auto 1rem;
    width: 90%;
    font-size: 9px;
    font-weight: normal;
    font-style: italic;
    background-color: rgb(245, 189, 31) ;
    /*border: 1px  solid black;*/
    padding: 0 .75rem;
}

#footer {
    padding: 12px;
    border: 1px solid black;
}



